#logo {
  height: 5rem;
  width: auto;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #361f13;
  position: sticky;
  top: 0px;
}
#as a{
  margin-left: 3rem;
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
#as a:hover {
  text-decoration: underline;
  color: #ffa021;
}
#as {
  margin-right: 3rem;
}
#contact {
  color: black;
}
body {
  margin: 0;
}
#karmel {
  background: #9f7b3e;
  height: 100%;
}
#content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  width: 100vw;
}
.banner {
  width: 100%;
  height: 100%;
  background: red;
  font-family: 'Lato', sans-serif;
  color: darkbrown;
}
.banner img {
  padding: 2rem;
}
.banner p {
  padding: 2rem;
  padding-top: 0;
}
.banner h1 {
  padding: 2rem;
  padding-bottom: 0;
}
#karmelka {
  width: 15rem;
  height: auto;
  max-width: 100%;
}
#content-lower {
  display: flex;
  flex-direction: column;
  background: white;
  margin-top: 2rem;
}
#content-lower h1 {
  margin-left: 3rem;
  font-family: 'Lato', sans-serif;
}
#opakowanie {
  height: 90% auto;
  width: 90%;
}
#opakowanie-content {
  display: flex;
  flex-direction: column;
  background: #c3a065;
  align-items: center;
}
#content-lower p {
  font-family: 'Lato', sans-serif;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 8rem;
  font-weight: 400;
}
#footer {
  display: flex;
  justify-content: center;
  text-align: center;
  color: grey;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  flex-direction: column;
    margin-bottom: 2rem;
}
.top-three {
  display: inline-grid;
  grid-auto-flow: column;
}
.ulotka {
  width: 22rem;
  max-width: 100%;
}
#ulotki {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}
#mobile-menu {
  display: none;
}
#burger {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 3rem;
  display: none;
}
@media only screen and (max-width: 675px) {
  #karmelka {
    display: block;
  }
  #opakowanie {
    display: block;
  }
  #burger {
    display: block;
  }
  #ulotki1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #ulotki1 img {
    margin-bottom: 1rem;
    max-width: 100%;
  }
  #content {
    flex-direction: column;
  }
  .top-three {
    display: flex;
    flex-direction: column;
  }
  .banner {
    width: 100%;
    padding: 0rem;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-row: 1;
  }
  #opakowanie {
    width: 90%;
  }
  #as {
    display: none;
  }
  #mobile-menu {
    display: none;
    flex-direction: column;
    background: #171717;
  }
  #mobile-menu a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
  #nav-bar {
    position: static;
  }
  .banner img {
    padding: 0;
  }
  .banner p {
    padding: 0;
  }
  .banner h1 {
    padding: 0;
  }
}
